{% extends "AppEntrega3Trueba/padre.html" %}
{% load static %}

{%block title %}Lista de clubes{% endblock %}

{% block título %}


<h1>Lista de clubes</h1>
{% endblock %}

{% block info %}
    
    {% for club in object_list %}
    <li>Nombre: {{club.nombre}}  </li>


<button><a href="{% url 'DetalleClub' club.id %}">Ver club</a></button>
<button><a href="{% url 'ActualizarClub' club.id %}">Actualizar club</a></button>
<button><a href="{% url 'BorrarClub' club.id %}">Eliminar club</a></button>



<p>--------------------</p>





{% endfor %}

<button><a href="{% url 'CrearClub' %}">Crear club</a></button>

{% endblock %}