{% extends "AppEntrega3Trueba/padre.html" %}
{% load static %}

{%block title %}Club {{club.nombre}}{% endblock %}

{% block título %}

    <h1>Nombre: {{club.nombre}}  </h1>
{% endblock %}

{% block descripción %}
    <strong><h4><li>Nombre: {{jugador.nombre}}  </li>
        <li>Apellido: {{jugador.apellido}}  </li>
        <li>Alias: {{jugador.alias}}  </li>
        <li>Fecha de nacimiento: {{jugador.fecha_nacimiento}}  </li>
        <li>Edad: {{jugador.edad}} años </li>
        <li>Nacionalidad: {{jugador.nacionalidad}}  </li>
        <li>Posición: {{jugador.posicion}}  </li>
        <li>Está retirado? {{jugador.esta_retirado}}  </li>
        <li>Goles totales: {{jugador.goles}}  </li>
        <li>Asistencias totales: {{jugador.asistencias}}  </li>
        <li>Cantidad de partidos: {{jugador.cant_partidos}}  </li>
        <li>Partidos ganados: {{jugador.partidos_ganados}}  </li>
        <li>Partidos empatados: {{jugador.partidos_empatados}}  </li>
        <li>Partidos perdidos: {{jugador.partidos_perdidos}}  </li>
        <li>Palmarés: {{jugador.palmares}}  </li>

    <a href="{% url 'LeerJugadores' %}">Regresar</a></strong></h4>

{% endblock %}
