{% extends "AppEntrega3Trueba/padre.html" %}
{% load static %}

{%block title %}Lista de estadios{% endblock %}

{% block título %}


<h1>Lista de estadios</h1>
{% endblock %}

{% block info %}
    
    {% for estadio in object_list %}
    <li>Nombre: {{estadio.nombre}}  </li>


<button><a href="{% url 'DetalleEstadio' estadio.id %}">Ver estadio</a></button>
<button><a href="{% url 'ActualizarEstadio' estadio.id %}">Actualizar estadio</a></button>
<button><a href="{% url 'BorrarEstadio' estadio.id %}">Eliminar estadio</a></button>



<p>--------------------</p>





{% endfor %}

<button><a href="{% url 'CrearEstadio' %}">Crear estadio</a></button>

{% endblock %}